<div class="login">
    <md-toolbar class="login-toolbar">
        <a routerLink="../login2"><button class="login-content first-element" id="prof" md-button (click)="btnclick();">Prof-Login</button></a>
        <a routerLink="../login2"><button class="login-content" id= "student" md-button (click)="btnclick();">Student-Login</button></a>
        <a routerLink="../login2"><button class="login-content" id="manager" md-button (click)="btnclick();">Manager-Login</button></a>
    </md-toolbar>  
</div>

